* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #ff9800;
}
body {
  font-family: sans-serif;
}
.settings {
  top: 0;
  left: -250px;
  height: 100vh;
  width: 250px;
  background-color: white;
  z-index: 3;
  transition: 0.3s;
  padding: 15px;
}
.settings .gear {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: white;
  width: 30px;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}
.settings.active {
  left: 0;
}
.option-box {
  background-color: #eee;
  margin: 10px;
  text-align: center;
  padding: 10px;
}
.option-box  h4{
  font-size: 18px;
}
.settings ul {
  list-style: none;
}
.settings ul li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  position: relative;
}
.settings ul li:first-child {
  background-color: #ff9800;
}
.settings ul li:nth-child(2) {
  background-color: #00bcd4;
}
.settings ul li:nth-child(3) {
  background-color: #e91e63;
}
.settings ul li:nth-child(4) {
  background-color: #607d8b;
}
.settings ul li:nth-child(5) {
  background-color: #009688;
}

.settings ul li.active {
  opacity: 1;
}
.settings ul li.active::before {
  content: "";
  position: absolute;
  color: attr(data-color);
}
.option-box button {
  color: white;
  background-color: #c2bbbb;
  border: none;
  padding: 5px 25px;
  border-radius: 5px;
}
.option-box button.active {
  background-color: #009688;
}
.reset {
  margin: 10px;
}

.reset button{
  border: none;
  outline: none;
  color: white;
  background-color: #e91e63;
  padding: 5px 25px;
  border-radius: 5px;
  width: 100%;
}
/* ///////////////////////////// */
.landing {
  background-image: url(../imgs/img-2.jpg);
  min-height: 100vh;
  z-index: 0;
  background-size: cover;
}
.landing .bars {
  display: none;
  color-scheme: white;
  font-size: 30px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
header ul li a:hover,
header ul li a.active {
  color: var(--main-color);
}
.intro {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro h1 {
  font-size: 34px;
}
.intro h1 span {
  color: var(--main-color);
}

.about {
  margin-top: 100px;
}
.about .container {
  padding: 20px;
  align-items: center;
}
.about h2 {
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 15px;
}
.about p {
  color: #777;
}
.about .img{
 
}
.about img{
  width: 300px;
}
.skills {
  background-color: #eee;
  margin-top: 100px;
  margin-bottom: 100px;
}
.skills .container {
  padding: 20px;
}
.skills h2 {
  color: var(--main-color);
  font-weight: bold;
  margin: 20px 0 50px;
}
.skills .skill-box {
  background-color: white;
  padding: 15px;
  margin: 15px 0;
}
.skills .skill-name {
  width: 140px;
  text-align: center;
}
.skills .skill-prog {
  background-color: #f6f6f6;
  height: 30px;
}
.skills .skill-prog span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.7s;
}
.show-lay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}
.gallery .show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 4;
  padding: 15px;
  display: none;
}
.gallery .show h2 {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 20px;
}
.gallery {
  margin-top: 100px;
  padding-top: 50px;
}
.gallery .container {
  padding: 20px;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.gallery h2 {
  color: var(--main-color);
  font-weight: bold;
  margin: 20px 0 50px;
}
.gallery .container > .img {
  width: 200px;
  border: 2px solid #ddd;
  padding: 2px;
}
.gallery img {
  max-width: 100%;
  cursor: pointer;
}
.gallery .close {
  position: absolute;
}
.gallery .close {
  color: white;
  position: absolute;
  background-color: var(--main-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  top: -14px;
  right: -14px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.test {
  background-color: #eee;
  margin-top: 100px;
  padding: 100px 0;
}
.test .box {
  background-color: white;
  padding: 10px;
  width: 50%;
  justify-self: flex-end;
  margin: 30px -30px;
  position: relative;
}
.test .box.special {
  margin-left: auto;
  margin-bottom: 100px;
}
.test .box h4 {
  color: var(--main-color);
}
.test .box p {
  color: #666;
}
.test .line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  height: calc(100% - 100px);
  width: 2px;
}
.test span {
  color: white;
  background-color: var(--main-color);
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translatex(-50%);
}
.test span:last-of-type {
  top: 67%;
}

.test .box:not(:nth-of-type(3))::before {
  content: "";
  position: absolute;
  top: 20px;
  right: -20px;
  border: 10px solid;
  border-color: transparent transparent transparent white;
}
.test .box.special::before {
  content: "";
  position: absolute;
  top: 20px;
  border: 10px solid;
  border-color: transparent white transparent transparent;
  left: -20px;
}
.test .box::after {
  content: "";
  position: absolute;
  top: 20px;
  right: -40px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid var(--main-color);
}
.test .box.special::after {
  left: -40px;
}
.features {
  padding: 200px 0 100px;
}
.features .container {
  gap: 40px;
}
.features .box {
  flex: 1;
  flex-basis: 30%;
}
.features .box img {
  max-width: 100%;
  width: 96px;
}
.features .box p {
  color: #666;
}

.features .break {
  width: 50px;
  margin: auto;
  background-color: var(--main-color);
  height: 5px;
  text-align: center;
}
.comment {
  margin-top: 99px;
  margin-bottom: 100px;
  padding: 80px 0;
}
.comment::before {
  content: "";
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  z-index: -1;
}
.comment::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
  z-index: -1;
}
.comment .boxes .box {
  color: #666;
  flex: 30%;
  padding: 15px;
}
.comment .boxes {
  gap: 20px;
}
.comment .boxes .box .info {
  gap: 20px;
}
.comment .boxes .box .img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
}
.contact {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 80px 0;
  background: url(../imgs/contact.png);
  background-size: cover;
}
.contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 0;
}
.contact h2 {
  color: var(--main-color);
  font-weight: bold;
  margin: 20px 0 50px;
}
.contact .con {
  gap: 20px;
}
.contact .container {
  max-width: 800px;
  margin: auto;
  position: relative;
}
.contact .sec {
  flex: 50% 1;
  color: #ccc;
}
.contact .sec input {
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  margin-bottom: 15px;
  display: block;
  width: 100%;
  background-color: rgba(218, 218, 218, 0.19);
  transition: 0.3s;
}
.contact .sec input:focus {
  border: 1px solid;
  border-color: #ccc var(--main-color) var(--main-color) #ccc;
}
.contact .sec input::placeholder {
  transition: 0.3s;
}
.contact .sec input:focus::placeholder {
  opacity: 0;
}
.contact .sec textarea {
  display: block;
  width: 100%;
  background-color: rgba(218, 218, 218, 0.19);
  resize: none;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 15px;
  padding: 10px;
  height: 150px;
  transition: 0.3s;
}
.contact .sec textarea:focus {
  border: 1px solid;
  border-color: #ccc #ccc var(--main-color) var(--main-color);
}
.contact .sec textarea::placeholder {
  transition: 0.3s;
}
.contact .sec textarea:focus::placeholder {
  opacity: 0;
}
.contact .sec input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 0;
}

footer {
  color: #fff;
  background-color: #333;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}
.nav-circles {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translatey(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.nav-circles a {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  margin-bottom: 15px;
  position: relative;
}
.nav-circles a::before {
  position: absolute;
  content: attr(data-name);
  top: 50%;
  transform: translateY(-50%);
  left: -130px;
  background-color: var(--main-color);
  width: 115px;
  color: white;
  padding: 5px 10px;
  transition: 0.3s;
  display: none;
}
.nav-circles a::after {
  position: absolute;
  content: "";
  top: 50%;
  border: 10px solid;
  border-color: transparent transparent transparent var(--main-color);
  transform: translateY(-50%);
  left: -15px;
  transition: 0.3s;
  display: none;
}
.nav-circles a:hover::before,
.nav-circles a:hover::after {
  display: block;
}
.landing .smallList {
  display: none;
}
@media (max-width: 991px) {
  .landing ul {
    display: none;
  }
  .landing .smallList {
    position: absolute;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    width: 100%;
    flex-direction: column;
    z-index: 5;
    padding: 10px;
    border-radius: 6px;
  }
  .landing .smallList.active {
    display: flex;
  }
  .landing .smallList::before {
    position: absolute;
    content: "";
    top: -10px;
    border: 10px solid;
    border-color: transparent transparent white transparent;
    transform: translateY(-50%);
    right: 27px;
  }
  .landing .smallList a {
    text-decoration: none;
    color: var(--main-color);
    padding: 5px;
    font-weight: bold;
  }
  .landing .bars {
    display: block;
  }
  .intro {
    width: 100%;
  }
  .comment .boxes .box .info {
    gap: 20px;
    flex-direction: column;
    margin-top: 15px !important;
}
}
@media (max-width: 767px) {
  .about .container {
    flex-direction: column;
    text-align: center;
  }
  .skills .skill-box {
    flex-direction: column;
    gap: 10px;
  }
  .skills .skill-box .skill-prog {
    width: 100%;
  }
  .test .box {
    width: 100%;
    margin: 20px 0;
  }
  .test .box::before {
    display: none;
  }
  .test .box::after {
    display: none;
  }
  .comment .boxes .box{
    flex: 100%;
  }
  .contact .con {
    gap: 0;
    flex-direction: column;
}

}
@media (max-width: 575px) {
  .features .box {
    flex-basis: 100%;
  }
  .features p {
   width: 80%;
   margin: auto;
  }
  .container{
    max-width: 540px;
}

}